body  {
  background-image: url("Banner.jpg");
}
h1{
  background-image: url("nature.jpeg");
  background-color:White;
 font-size: 50px;
 border-radius: 5px;
 font-color:black;
}
img{
  border-radius: 8px;
}
h2{
  background-image: url("nature.jpeg");
  background-color:White;
 font-size: 50px;
 border-radius: 5px;
 font-color:white;
}